<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166946871603-fp7qjag8sd1qcqmi654ts7agurmnvk9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166946871603-fp7qjag8sd1qcqmi654ts7agurmnvk9d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>166946871603-4vanli3h5sk9dpbrppep1hfsd81gl8rs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuAIT0NSSFkA53stISLGh7MH-TamDl6mg</string>
	<key>GCM_SENDER_ID</key>
	<string>166946871603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoopSmartAdmin</string>
	<key>PROJECT_ID</key>
	<string>smartshopuser-2ef7d</string>
	<key>STORAGE_BUCKET</key>
	<string>smartshopuser-2ef7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166946871603:ios:d18ee0ac7f02e95dbf4646</string>
</dict>
</plist>