<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>305322344796-4pcci61lpv6ed239df334de6isb1g537.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABzb0IB_TOxaPTj6_wL3qHWnnN2XOLKfo</string>
	<key>GCM_SENDER_ID</key>
	<string>305322344796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopSmart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>belal-91fe7</string>
	<key>STORAGE_BUCKET</key>
	<string>belal-91fe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305322344796:ios:aa5ac53f780c31c3d84199</string>
</dict>
</plist>